# National names MUST be UTF-8

Brazil | Hidden=no; OwnerEMail=svrutz@gmail.com; AccessInfoMode=Always
Teste | OwnerEMail=svrutz@gmail.com; ManagerMode=S; Hidden=yes; AccessInfoMode=Always
FRN | Hidden=no; ManagerMode=F; AccessInfoMode=Always
XLXBRA | Hidden=no; ManagerMode=F; AccessInfoMode=Always
Whrebe | Hidden=yes; ManagerMode=F; OwnerEMail=svrutz@gmail.com; AccessInfoMode=Always
Papagaio | Hidden=no; ManagerMode=F; ParrotEnable=yes; ParrotStartStopEnable=yes; ParrotMaxRecordTime=30; MaxSpeechTime=60; AccessInfoMode=Always
Papagaio_5x | Hidden=no; ManagerMode=F; ParrotEnable=yes; ParrotRepeatCount=5; ParrotMaxRecordTime=30; ParrotStartStopEnable=yes; MaxSpeechTime=10; AccessInfoMode=Always
