# National names MUST be UTF-8

Brazil | Hidden=no; OwnerEMail=svrutz@gmail.com; AccessInfoMode=Always; QuarantineTime=1500; SpeechPause=1000; MaxSpeechTime=180
Teste | OwnerEMail=svrutz@gmail.com; ManagerMode=F; Hidden=yes; AccessInfoMode=Always
FRN | Hidden=no; ManagerMode=F; AccessInfoMode=Always; QuarantineTime=1500; MaxSpeechTime=180; SpeechPause=1000
XLXBRA | Hidden=no; ManagerMode=F; AccessInfoMode=Always; QuarantineTime=1500; MaxSpeechTime=180; SpeechPause=1000
Whrebe | Hidden=yes; ManagerMode=S; OwnerEMail=svrutz@gmail.com; AccessInfoMode=Always
Papagaio | Hidden=no; ManagerMode=F; ParrotEnable=yes; ParrotStartStopEnable=yes; ParrotMaxRecordTime=30; MaxSpeechTime=60; AccessInfoMode=Always; SpeechPause=1000
Papagaio_5x | Hidden=no; ManagerMode=F; ParrotEnable=yes; ParrotRepeatCount=5; ParrotMaxRecordTime=30; ParrotStartStopEnable=yes; MaxSpeechTime=10; AccessInfoMode=Always; SpeechPause=1000
